*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
	
}

body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	color:#c9ad30;
	background-color:#000000;
	background-image: -moz-linear-gradient(45deg, black 0%, gray 50%, black 100%);
	background-image: -webkit-linear-gradient(45deg, black 0%, gray 50%, black 100%);
	background-image: -o-linear-gradient(45deg, black 0%, gray 50%, black 100%);
	background-image: linear-gradient(45deg, black 0%, gray 50%, black 100%);
	font-family:Arial, Helvetica, sans-serif;
	padding-top: 10px;

	/* background-image: url(../images/aircooled.png); */
}

/* Hyperlink Styles: */

a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	font-weight: bolder;
}

a img{
	border:none;
}

/* Headings: */

h1,h2,h3{
	font-family:arial black;
	text-shadow:0 1px 1px black;
}


h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}
.go_up {
	float: right; 
	padding-right: 15px;
	
}
p{
	line-height:1.5em;
	padding-bottom:1em;
	
}
.pbold{
	font-family: arial black;
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:0.01em;
	text-transform:uppercase;
	text-shadow:0 1px 1px black;
}

.line{
	/* The dividing line: */
	height:1px;
	background-color:#c9ad30;
	border-bottom:1px solid #c9ad30;
	margin:1em 0;
	overflow:hidden;
}

article .line{
	/* The dividing line inside of the article is darker: */
	background-color:#c9ad30;
	border-bottom-color:#c9ad30;
	margin:1.3em 0;
}

footer .line{
	margin:2em 0;
}

nav{
	background:#c9ad30;
	padding: 5px;
	position:center;
	right:0;
	top:4em;
	width: 199px;
	margin: auto;
	
	border:1px solid #c9ad30;

	-moz-box-shadow:0 1px 1px #333333;
	-webkit-box-shadow:0 1px 1px #333333;
	box-shadow:0 1px 1px #333333;
}

/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* The navigation styling: */

nav ul li{
	display:inline;

	
}

nav ul li a,
nav ul li a:visited{
	color:black;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-shadow:0 1px 1px #52514d;
	text-transform:uppercase;
}

nav ul li a:hover{
	text-decoration:none;
	background-color:#f5d19f;
}

nav, article, nav ul li a,figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* Article styles: */

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

article{
	background-color:#2b2a27;
	margin:3em 0;
	padding:20px;
	
	text-shadow:0 2px 0 black;
}

figure{
	border:3px solid black;			
	float:right;
	height:400px;
	margin-left:15px;
	overflow:hidden;
	width:200px;
}

#sidebarA {
	float: left;
}

#sidebarB {
	float:right;
}

main {
	float: left;
	width: 300px;
	margin: auto;

}

/* Footer styling: */

footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}


footer p{
	margin-bottom:-2.5em;
	position:relative;
}

